body{
    margin: 0;
    padding: 0;
}
 .container{
    background-color: pink;
    width: 100vw;
    height: 5vh;
} 

#canvas{
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 95%
}